nav{
  
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    
   
    
}
nav div{
    display: flex;
    
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    text-decoration: none;
    padding: 5px;
    
}
.nav-link-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns-container a ,ul li a{
    text-decoration: none;
    color:  hsl(0, 0%, 75%); 
}
ul li a:hover{
    color:black;
}
.btns-container a {
    padding: 20px;
}
.signUp-btn a{
   
    border: 1 solid black;
    background-color: white ;
    border-radius:18px;
    padding: 4px 10px ;
}
.signUp-btn a:hover{
    color: white;
    background-color:  hsl(180, 66%, 49%) ;  
}